/* Login.css */

/* Container styles */
.login-container {
    text-align: center;
    padding: 50px;
    background-color: #fce4ec; /* Light pink background */
    min-height: 100vh; /* Full height */
  }
  
  /* Header styles */
  .login-header {
    font-size: 2.5rem;
    color: #c2185b; /* Dark pink color for header */
    margin-bottom: 20px;
  }
  
  /* Button styles */
  .register-button {
    padding: 10px 15px;
    background-color: #c2185b; /* Dark pink button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .register-button:hover {
    background-color: #d81b60; /* Darker pink on hover */
  }
  
  /* Paragraph styles */
  .login-paragraph {
    font-size: 1.2rem;
  }
  